/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {

        keymap {
                compatible = "zmk,keymap";

                default_layer {
//  ,-----------------------------------------.             ,-----------------------------------------.
//  | Tab  |   Q  |   W  |   E  |   R  |   T  |             |   Y  |   U  |   I  |   O  |   P  | Bksp |
//  |------+------+------+------+------+------|             |------+------+------+------+------+------|
//  | Ctrl |   A  |   S  |   D  |   F  |   G  |             |   H  |   J  |   K  |   L  |   ;  |   '  |
//  |------+------+------+------+------+------|             |------+------+------+------+------+------|
//  | Shift|   Z  |   X  |   C  |   V  |   B  |             |   N  |   M  |   ,  |   .  |   /  |  Alt |
//  `------+------+------+------+------+------+------+------+------+------+------+------+------+------'
//                              | GUI  |Lower |Enter |Space |Raise | Esc  |
//                              `-----------------------------------------'
                        label = "Base";
                        bindings = <
   &kp TAB     &kp Q  &kp W  &kp E     &kp R    &kp T        &kp Y      &kp U    &kp I      &kp O    &kp P     &kp BSPC
   &kp LCTRL   &kp A  &kp S  &kp D     &kp F    &kp G        &kp H      &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
   &kp LSHIFT  &kp Z  &kp X  &kp C     &kp V    &kp B        &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RALT
                             &kp LGUI  &mo LWR  &kp RET      &kp SPACE  &mo RSE  &kp ESC
                        >;
                };

                lower_layer {
// Lower layer
//  ,-----------------------------------------.             ,-----------------------------------------.
//  | Tab  |   !  |   @  |   #  |   $  |   %  |             |   ^  |   &  |   *  |   (  |   )  | Bksp |
//  |------+------+------+------+------+------|             |------+------+------+------+------+------|
//  | Shift|   1  |   2  |   3  |   4  |   5  |             |   -  |   =  |   `  |   [  |   ]  |  |   |
//  |------+------+------+------+------+------|             |------+------+------+------+------+------|
//  | Ctrl |   6  |   7  |   8  |   9  |   0  |             |   _  |   +  |   ~  |   {  |   }  |  \   |
//  `------+------+------+------+------+------+------+------+------+------+------+------+------+------'
//                              | GUI  |      |Enter |Space |      | Esc  |
//                              `-----------------------------------------'
                        label = "Lower";
                        bindings = <
   &kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR  &kp BSPC
   &kp LSHIFT &kp  N1   &kp N2  &kp  N3   &kp  N4   &kp   N5     &kp MINUS  &kp EQUAL &kp GRAVE        &kp LBKT   &kp RBKT  &kp PIPE
   &kp LCTRL  &kp  N6   &kp N7  &kp  N8   &kp  N9   &kp   N0     &kp UNDER  &kp PLUS  &kp TILDE        &kp LBRC   &kp RBRC  &kp BSLH
                          	&kp LGUI  &trans    &kp RET      &kp SPACE  &trans   &kp ESC
                        >;
                };

                raise_layer {
// Raise layer
//  ,------------------------------------------.             ,-----------------------------------------.
//  | Tab  |  F1  |  F2  |  F3  |  F4  |  F5   |             |  F6  |  F7  |  F8  |  F9  | F10  | Bksp |
//  |------+------+------+------+------+-------|             |------+------+------+------+------+------|
//  | Shift|  PRE |  NXT | VOL- | VOL+ |PLY/PSE|             | Left | Down |  Up  | Right|      |      |
//  |------+------+------+------+------+-------|             |------+------+------+------+------+------|
//  | Ctrl |      |      |      |      |       |             |      |      |      |      |      |      |
//  `------+------+------+------+------+-------+------+------+------+------+------+------+------+------'
//                              | GUI  |       |Enter |Space |      | Alt  |
//                              `------------------------------------------'
                        label = "Raise";
                        bindings = <
   &kp TAB    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5        &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &kp BSPC
   &trans     &kp C_PREV   &kp C_NEXT   &kp C_VOL_DN &kp C_VOL_UP &kp C_PP      &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
   &kp LCTRL  &trans       &trans       &trans       &trans       &trans        &trans   &trans   &trans &trans    &trans  &trans
                      	      &kp LGUI  &trans  &kp RET   &kp SPACE  &trans     &kp RALT
                        >;
                };
      };

};

